.menuInicial {
  -fx-background-image: url("img/bgMenuInicial.png");
  -fx-background-color: #2731a5;
  -fx-background-size: cover;
  -fx-background-repeat: no-repeat;
  -fx-background-position: center center;
}

.button {
  -fx-background-color: transparent;
}

.button:hover, .itemConversa:hover {
  -fx-cursor: hand;
}

.buttonFechar {
  -fx-background-image: url("img/buttonFechar.png");
}

.buttonFechar:hover {
  -fx-background-image: url("img/buttonFecharHover.png");
}

.buttonFechar:pressed {
  -fx-background-image: url("img/buttonFecharPressed.png");
}

.buttonFecharChat {
  -fx-background-image: url("img/buttonClose.png");
}

.buttonFecharChat:hover {
  -fx-background-image: url("img/buttonCloseHover.png");
}

.buttonFecharChat:pressed {
  -fx-background-image: url("img/buttonClosePressed.png");
}

.buttonMinimizar {
  -fx-background-image: url("img/buttonMinimizar.png");
}

.buttonMinimizar:hover {
  -fx-background-image: url("img/buttonMinimizarHover.png");
}

.buttonMinimizar:pressed {
  -fx-background-image: url("img/buttonMinimizarPressed.png");
}

.buttonEnviar {
  -fx-background-image: url("img/buttonEnviar.png");
}

.buttonEnviarDes {
  -fx-background-image: url("img/buttonEnviarDes.png");
}

.buttonEnviar:hover {
  -fx-background-image: url("img/buttonEnviarHover.png");
}

.buttonEnviar:pressed {
  -fx-background-image: url("img/buttonEnviarPressed.png");
}

.buttonInfo {
  -fx-background-image: url("img/buttonInfo.png");
}

.buttonInfo:hover {
  -fx-background-image: url("img/buttonInfoHover.png");
}

.buttonInfo:pressed {
  -fx-background-image: url("img/buttonInfoPressed.png");
}

.buttonIniciar {
  -fx-background-image: url("img/buttonIniciar.png");
}

.buttonIniciar:hover {
  -fx-background-image: url("img/buttonIniciarHover.png");
}

.buttonIniciar:pressed {
  -fx-background-image: url("img/buttonIniciarPressed.png");
}

.buttonAlert {
  -fx-background-image: url("img/buttonAlert.png");
}

.buttonAlert:hover {
  -fx-background-image: url("img/buttonAlertHover.png");
}

.buttonAlert:pressed {
  -fx-background-image: url("img/buttonAlertPressed.png");
}

.buttonSair {
  -fx-background-image: url("img/buttonSair.png");
}

.buttonSair:hover {
  -fx-background-image: url("img/buttonSairHover.png");
}

.buttonSair:pressed {
  -fx-background-image: url("img/buttonSairPressed.png");
}

.buttonGrupo {
  -fx-background-image: url("img/grupoButton.png");
}

.buttonGrupo:hover {
  -fx-background-image: url("img/grupoButtonHover.png");
  -fx-cursor: hand;
}

.buttonGrupo:pressed {
  -fx-background-image: url("img/grupoButtonPressed.png");
}

.chat {
  -fx-background-image: url("img/bgChat.png");
}

.grupos {
  -fx-background-image: url("img/bgGrupos.png");
}

.alert {
  -fx-background-image: url("img/bgAlert.png");
}

.balaoDeDialogo {
  -fx-background-color: #2731a5;
}

.notificacaoLabel {
  -fx-background-color: #f5e55a;
}